@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
}

li,
ul,
ol {
  list-style: none;
}

body {
  @apply bg-gradient-to-br from-orange-200 to-orange-300 box-border;
}
